/*Start of code written by Margaret Khamvongsa*/
/*Body Style Settings*/
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
}

/*Title Style Settings*/
#title {
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: lightyellow;
    text-align: center;
}

/*Footer Style Settings*/
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    height: 100px;
    padding: 1em 0;
    margin: 0;
}

/*Header Style Settings*/
header h1 {
    text-align: center;
    font-family: 'RalewayRegular';
    margin: 0;
    width: 100%;
}

/*Container Style Settings*/
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 100%;
    margin: 0;
    height: 85%;
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/premium_photo-1701760184387-0519ab2e1aee.jpg?raw=true);
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

/*Chessboard Style Settings*/
.chessboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*Row Style Settings*/
.row {
    display: flex;
}

/*Cell Style Settings*/
.cell {
    width: 12.5%;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid black;
}

/*White Background Color Style Settings*/
.white {
    background-color: white;
}

/*Black Background Color Style Settings*/
.black {
    background-color: #787878;

}

/*Black Style Settings Chess Pieces*/
.imageblackbishop {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/black-bishop.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.imageblackcastle {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/black-castle.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imageblackking {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/black-king.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imageblackknight {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/black-knight.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imageblackpawn {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/black-pawn.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imageblackqueen {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/black-queen.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*Gold Style Settings Chess Pieces*/
.imagegoldbishop {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/gold-bishop.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imagegoldcastle {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/gold-castle.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imagegoldking {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/gold-king.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imagegoldknight {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/gold-knight.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imagegoldpawn {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/gold-pawn.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imagegoldqueen {
    background-image: url(https://github.com/MargaretKhamvongsa/dev109/blob/main/a2/chess_icons-1/gold-queen.png?raw=true);
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*End of code written by Margaret Khamvongsa*/
