/* Google Fonts */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

/* Style Body Element */
body {
    background-color: #523620;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    margin: 0;
}

/* Style for the Hidden Heading Background Image */
h1 {
    background-image: url('../images/bullseye-logo.png');
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 109px;
    width: 643px;
    margin: 40px auto;
}

/* Style Teacher Image */
#teacher {
    float: right;
    margin: 0 30px 0 0;
}

/* Style Second Teacher Image */
#teacher2 {
    float: right;
    margin: 135px 30px 0 0;
}

/* Style Main Page Sections */
#page1, #page2 {
    background-color: #fecc6f;
    height: 596px;
    padding: 10px;
    min-width: 779px;
}

/* Style Second Page Section */
#page2 {
    height: 730px;
}

/* Style Answer Section */
#answer {
    border: 12px double #fff;
    color: #523620;
    text-align: left;
    padding: 20px;
    margin: 70px auto 10px auto;
    width: 250px;
    text-align: center;
}

/* Style Blackboard Section */
#blackboard {
    background-color: #425a5a;
    border: 25px solid #523620;
    border-radius: 20px;
    padding: 40px 20px;
    margin: 0 auto;
    height: 370px;
    width: 600px;
    text-align: center;
}
