/* Body Styling */
body {
    font-family: Arial, sans-serif;
}

/* Label Styling */
label {
    font-weight: bold;
}

/* Select Input */
select, input {
    margin-bottom: 10px;
}

/* Diamond Container */
#diamondContainer {
    text-align: center;
    display: inline-block;
    width: 100%;
}

/* Centering Diamond */
#diamondContainer div {
    display: inline-block;
    text-align: center;
}
