@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background-color: #E6E6FA; 
  font-family: 'Lobster', cursive; 
  margin: 0;
  padding: 0;
}

#page {
  background-color: #D8BFD8; 
  margin: 0 auto 0 auto;
}

h1 {
  background-image: url('https://github.com/MargaretKhamvongsa/dev109/blob/main/m08/images/kinglogo.png?raw=true') no-repeat center center fixed;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  text-indent: -1000%;
  height: 75px;
  line-height: 75px;
  width: 117px;
  margin: 0 auto 0 auto;
  padding: 30px 10px 20px 10px;
}

h2 {
  color: #800080; 
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0 0 23px 0;
}

h2 span {
  border-radius: 50%;
  background-color: #DDA0DD; 
  font-size: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: -5px;
  height: 18px;
  width: 20px;
  margin-left: 5px;
  padding: 4px 0 0 4px;
}

ul {
  background-color: #DDA0DD; 
  border: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #D8BFD8; 
  color: #800080; /* Purple text color */
  border-top: 1px solid #BA55D3;
  border-bottom: 1px solid #BA55D3;
  font-size: 24px;
  letter-spacing: .05em;
  list-style-type: none;
  text-shadow: 2px 2px 1px #BA55D3; 
  height: 50px;
  padding-left: 1em;
  padding-top: 10px;
}

li a {
  color: #800080;
  text-decoration: none;
  background-image: url("../images/icon-link.png");
  background-position: center, right;
  background-repeat: no-repeat;
  padding-right: 36px;
}

p {
  color: #800080; 
  background-color: #F8F8FF;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  margin: 20px auto 20px auto;
  min-width: 20%; 
  max-width: 80%; 
}

#scriptResults {
  padding-bottom: 10px;
}

/* Responsive page rules at bottom of style sheet */

@media only screen and (max-width: 500px) {
  body {
    background-color: #DDA0DD;
  }
  #page {
    max-width: 480px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 767px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media only screen and (min-width: 960px) {
  #page {
    max-width: 480px;
    margin: 20px auto 20px auto;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  h1 {
    background-image: url(../img/2xkinglogo.png);
    background-size: 72px 72px;
  }
}

